/ErrorDeComision.class
/ErrorVentasRealizadas.class
/HorasTrabajadasInvalidasExcepcion.class
/PremioInvalidoExcepcion.class
/ValorFueraDeRangoException.class
/ErrorValorEnSueldo.class
/CuilInvalidoExcepcion.class
